#wrap {
    max-width: 100%;
    margin-top: 30px;
}
.w980 {
    width: 980px;
    margin: 0 auto;
}

/* 헤더 상단 */
.header_box_1 {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;

}

.header_box_1 ul:nth-child(1) {
    display: flex;
    flex-flow: row wrap;
}
.header_box_1 ul h1 {
    margin-top: 5px;
    font-size: 24px;
}
.header_box_1 ul p {
    font-size: 18px;
    margin-top: 8px;
    color: #929292;
}

/* 서치 박스 */
.head_search {
    border: 1px solid #929292;
    display: flex;
    flex-flow: row wrap;
    width: 268px;
    height: 33px;
    margin-left: 250px;
}
.head_search li:nth-child(1) {
    margin-top: 8px;
}
.head_search li:nth-child(2) {
    margin-top: 8px;
    margin-left: 70px;
    cursor: pointer;
}

/* 헤더 상단 */

.header_box_1 ul:nth-child(3) {
    display: flex;
    flex-flow: row wrap;

}

.header_box_1 ul:nth-child(3) li {
    margin-left: 10px;
    margin-top: 8px;
}

.header_box_1 ul:nth-child(3) li:nth-child(1) {
    line-height: 5px;
    color: #949494;
}

/* 헤더 상단 2 */
.header_box_2 {
    border-top: 0.2px solid #929292;
    height: 42px;
}

.header_box_2 nav {
    display: flex;
    flex-flow: row wrap;
}

.header_box_2 nav li {
    margin-left: 20px;
    padding: 5px;
    font-weight: 900;
    line-height: 30px;
    cursor: pointer;
    
}

.header_box_2 nav li:nth-child(2) {
    background-color: rgb(34, 138, 34);
    color: rgb(253, 248, 248);
}

/* 헤더 상단 3 */
.header_box_3 {
    background-color: #eeeeee;
    height: 42px;
}

.header_box_3 nav {
    display: flex;
    flex-flow: row wrap;
}
.header_box_3 nav li {
    margin-left: 20px;
    padding: 10px;
    margin-top: 3px;
    font-weight: 800;
    color: #929292;
    cursor: pointer;
}
.header_box_3 nav li:nth-child(1) {
    color: #000;
    font-weight: 900;
}

/* 메인 1 */

main .main_1 {
    border-bottom: 1px solid #767676;
    padding: 20px 10px 10px 10px;
    width: 694px;

}

.main_1 ul {
    display: flex;
    flex-flow: row wrap;
}

/* 요일 색 */

.dot_1 {    
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: 900;
  
  }
  
  .dot_1:nth-child(1) {    
    color: green;
  }



/* 메인 2 */



.main_2 ul {
    display: flex;
    flex-flow: row wrap;
}
.main_2 ul li {
    width: 200px;
    margin-left: 20px;
}

.main_2 h2 {
    font-weight: 900;
    padding: 20px;
    font-size: 18px;
}

.main_2 h3 {
    padding: 8px;
    padding-left: 0;
    font-weight: bold;
    font-size: 14px;
}

.main_2 h4 {
    color: #929292;
    font-size: 13px;
}
.main_2 p {
    color: #000;
    padding-top: 8px;
    font-size: 13px;
}


/* 메인 2 이미지 */
.main_2 ul li div {
    overflow: hidden;
}
.main_2 ul li img {
    scale: 2;
}

/* Aside */

main {
    /* 기준 */
    position: relative;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 30px 22px 0 0;

}

aside div>ul>li {
    cursor: pointer;
    margin-top: 15px;
    
}

aside div>ul>li:nth-child(1) {
    width: 240px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-weight: 900;
    color: #fff2f2;
    background-color: rgb(137, 218, 17);
    box-shadow: 0 13px 24px -5px rgba(50,50,93,0.25), 0 8px 16px -5px rgba(0,0,0,0.3), 0 -6px 16px -5px rgba(0,0,0,0.025);
}

aside div ul li:nth-child(7) {
    border: 1px solid #929292;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}

/* 남여 박스 */

aside div ul ul li:nth-child(1) {
    border: 1px solid #929292;
    border-bottom: 0;
    padding: 10px;
    padding-left: 5px;
    font-size: 12px;
    text-shadow: 0px 0px 1px #000;
}

aside div ul ul li:nth-child(2) {
    border: 1px solid #929292;
    border-bottom: 0;
    text-align: center;
    width: 120px;
    float: left;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

aside div ul ul li:nth-child(3) {
    border: 1px solid #929292;
    border-left: 0;
    text-align: center;
    width: 120px;
    float: left;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

/* 랭킹 박스 */

.rank_box {
    border: 1px solid #929292;
    border-top: 0;
    padding: 15px;
    margin-top: 33px;
}

.rank_box div {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
}

.rank_box p {
    font-weight: 200;
    padding: 5px;
    text-shadow: 0px 0px 1px #000;
}

.rank_box span {
    font-size: 14px;
    margin-left: 4px;
    line-height: -10px;
}

.rank_box div img {
    width: 30px;
    height: 33px;
}


#woman_box {
    /* position: absolute; */
    top: 33px;
    left: 0px;
    z-index: 1;
    width: 240px;
    display: none;
}

/* 메인3 */


.main_3 {
    display: flex;
    flex-flow: row wrap;

    width: 710px;
    height: 500px;
    margin-top: 10px;
    padding-bottom: 50px;
}

.main_3 h2 {
    font-weight: 800;
    font-size: 13px;
    color: #929292;
    text-align: center;
    padding: 5px;
}

.main_3 div {
    padding: 0 5px 0 5px;
    border: 1px solid #929292;
    border-left: 0;
    border-bottom: 0;
}

.main_3 div ul li:nth-child(2) {
    text-align: center;
    font-size: 12.5px;
    padding: 3px;
}

.main_3 div:nth-child(7) {
    border-right: 0;
}

.p {
    font-weight: 900;
    margin-top: 30px;
    margin-left: 10px;
}

main {
    padding-bottom: 300px;
    
}